@media screen and (max-width:768px) {
    .container {
        width: 100%;
    }

    .menu2 {
        display: none;
    }

    .bar {
        display: block;
        z-index: 1001;
        position: relative;
    }

    .menu2.show {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 40%;
        height: 100vh;
        background: #0157A0;
        padding: 80px 0px;
        gap: 20px;
        z-index: 1000;
        transition: transform 0.3s ease;
        transform: translateX(0);
    }

    .menu2 a {
        color: #fff;
        font-size: 18px;
        text-decoration: underline;
    }

    .button {
        display: none;
    }

    .overlay.show {
        display: block;
    }

    .overlay {
        z-index: 900;
    }

    /* .abtimg img {
        width: 90%;
    } */

    /* .abtimg {
        padding-left: 0;
        padding-top: 155px;
    } */
    .abtimg {
        padding-left: 0;
        text-align: center;
    }


    .partner1 img {
        width: 68%;
        padding-top: 6px;
    }

    .partner2 img {
        width: 68%;
        padding-top: 16px;
    }

    .partner3 img {
        width: 68%;
        padding-top: 10px;
    }

    .partner4 img {
        width: 68%;
        padding-top: 0;
    }

    .partner5 img {
        width: 80%;
        padding-top: 8px;
    }

    .partners {
        padding-top: 13px;
        padding-bottom: 26px;
    }

    .onpara2 {
        margin-top: 32px;
    }

    .qtaimg img {
        width: 100%;
        padding-top: 66px;
    }

    .ctaimg {
        top: -124px;
        right: -139px;
    }

    .twit {
        height: 33px;
    }

    .linkd {
        height: 33px;
    }

    .insta {
        height: 33px;
    }

    .endfoo1 {
        padding-top: 36px;
    }

    /* about ius */
    .herosectio {
        height: 1660px;
    }

    .missimg img {
        width: 100%;
        padding-top: 80px
    }

    /* service */
    .innovaimg img {
        width: 100%;
        margin-top: 155px;
    }

    .ontime {
        padding-top: 26px;
        padding-bottom: 10px;
    }

    .ontpara1 {
        max-width: 221px;
        padding-top: 0px;
    }

    .borde {
        margin-top: 12px;
    }

    .ontime4 {
        padding-top: 31px;
    }

    .ontpara4 {
        padding-top: 11px;
    }

    .ontpara5 {
        padding-top: 41px;
    }

}

@media screen and (max-width:480px) {
    .container {
        width: 100%;
    }

    .abtimg img {
        width: 85%;
    }

    .abtimg {
        padding-top: 50px;
    }

    .ratings {
        display: block;
    }

    .partner1 img {
        width: 50%;
        padding-bottom: 20px;
    }

    .partner2 img {
        width: 50%;
        padding-bottom: 20px;
    }

    .partner3 img {
        width: 50%;
        padding-bottom: 20px;
    }

    .partner4 img {
        width: 50%;
        padding-bottom: 20px;
    }

    .partner5 img {
        width: 50%;
        padding-bottom: 20px;
    }

    .allpartners {
        display: block;
    }

    .why1 {
        padding-top: 30px;
    }

    .qtaimg img {
        padding-bottom: 80px;
    }

    .ctaimg {
        position: static;
    }

    .subscribe button {
        padding: 10px 20px;
    }

    .cotus {
        display: block;
    }

    .alllast {
        padding-top: 7px;
    }

    .insta {
        height: 36px;
        width: 36px;
    }

    .twit {
        height: 36px;
        width: 36px;
    }

    .linkd {
        height: 36px;
        width: 36px;
    }

    .end1 {
        padding-top: 0;
    }

    /* about us */

    .herosectio {
        height: 2050px;
    }

    .herosecti {
        height: 1510px;
    }

    .cusbox {
        display: block;
    }

    .herosect {
        height: 1560px;
    }

}