* {
    margin: 0;
    padding: 0;
}


html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    max-width: 100%;
}


body {
    font-family: "Poppins", sans-serif;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


.menu2 {
    display: flex;
    list-style: none;
    font-weight: 500;
    padding-top: 20px;
}

.menu4 {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
    padding: 10px 12px;
}

.menu4:hover {
    color: #fff;
    background-color: #0157A0;
    border-radius: 30px;
}

.button {
    border: none;
    padding: 10px 12px;
    background-color: #0157A0;
    color: #fff;
    border-radius: 30px;
    font-weight: 500;
    transition: all 0.3s;
}

.button:hover {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}


.bar {
    display: none;
    cursor: pointer;
}

.bar span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px 0;
}

body.menu-open::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 900;
}

.overlay.show {
    display: block;
}



.herosection {
    background-image: url(../assets/heroimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    display: flex;
    position: relative;
    align-items: center;
}

.herosection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 9%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 9%, rgba(255, 255, 255, 0) 100%);
}

.herosection::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: linear-gradient(115deg, rgba(0, 0, 0, 1) 9%, rgba(255, 255, 255, 0) 100%);
}

.mainh {
    position: relative;
    z-index: 2;
}

.header {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    z-index: 22;
}

.hedin {
    color: #fff;
    max-width: 301px;
}

.hedinpara {
    color: #fff;
}

.tarck {
    background-color: #0157A0;
    border: none;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
}

.tarck:hover {
    border: 1px solid #fff;
    background-color: transparent;
    /* color: #000; */
}

.quote {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
}

.quote:hover {
    background-color: #0157A0;
    border: none;
    /* color: #000; */
}

.buttons {
    letter-spacing: 10px;
    padding-top: 27px;
}

.hedinpara {
    padding-top: 10px;
}

.aboutsection {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(../assets/Dust.png);
}

.abthpara {
    padding-top: 20px;
}

.abtimg {
    padding-left: 60px;
}

.remor {
    border: none;
    background-color: #0157A0;
    border-radius: 30px;
    margin-top: 20px;
    color: #fff;
    padding: 12px 35px;
}

.remor:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}

.warhou {
    text-align: center;
    align-items: center;
    padding-top: 90px;
}

.num {
    color: #0157A0;
    font-size: 52px;
}

.plus {
    font-size: 60px;
    font-weight: 700;
}

.ratings {
    display: flex;
}

.sermh {
    text-align: center;
}

.servicesection {
    margin-top: 80px;
    margin-bottom: 80px;
}

.paraser {
    padding-top: 10px;
}

.img1 img {
    border-radius: 20px;

}

.img1 {
    position: relative;
}

.sea {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: #fff;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 2px 12px;
}

.getin svg {
    position: absolute;
    top: 13px;
    right: 19px;
    color: #fff;
    border-radius: 30px;
    background-color: transparent;
}

.hover-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    visibility: hidden;
    transition: opacitity 0.3s ease, visibility 0.3s ease;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.pr {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 290px;
}

.img1:hover .hover-effect {
    opacity: 1;
    visibility: visible;
}


.img1 :hover .hover-effect {
    display: block;
}

.sea {
    position: absolute;
    bottom: 0%;
    left: 12%;
    transform: translate(-50%, -50%);
    color: #F6F6F6;
    z-index: 2;
}

.img1:hover .sea {
    bottom: 5%;
    margin-left: 38%;
    background-color: #0157A0;
    border: none;
}

.img1 {
    position: relative;
    height: 220px;
}

.getin {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(-50%, -50%);
    color: #F6F6F6;
    z-index: 2;
}

.img1:hover .getin {
    top: 0%;
    margin-left: 35%;
    background-color: #0157A0;
    border: none;
}

.fright {
    text-align: center;
    padding-top: 25px;
}

.imgsections {
    margin-top: 90px;
}

.partners {
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #F5F5F5;
    padding-top: 50px;
    padding-bottom: 50px;
}

.allpartners {
    display: flex;
    text-align: center;
    justify-content: center;
}

.wcush {
    text-align: center;
}

.whychoose {
    margin-top: 80px;
    margin-bottom: 80PX;
}

.ikknn1 {
    background-color: #0157A0;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 0.3s;
}



.timer {
    display: flex;
    justify-content: center;
}

.whycont {
    text-align: center;
    padding-top: 30px;
}

.onpara {
    max-width: 269px;
    margin: auto;
}

.why3 {
    padding-top: 70px;
}

.onpara2 {
    max-width: 252px;
    margin: auto;
}

.onpara3 {
    max-width: 269px;
    margin: auto;
}

.why1 {
    transition: all 0.3s;
}



.why1:hover .ikknn1 {
    background-color: #fff;
    color: #000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.qta {
    margin-top: 80px;
    margin-bottom: 180PX;
}

.box {
    max-width: 600px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}


.box {
    max-width: 600px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

.qtqcont {
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
}


.qtqcont.active {
    background-color: #0157A0;
    color: #fff;
}


.accordion {
    background: transparent;
    color: inherit;
    cursor: pointer;
    padding: 18px 20px;
    width: 100%;
    text-align: left;
    font-size: 16px;
    border: none;
    outline: none;
    position: relative;
    transition: all 0.2s;
}
.accordion:hover{
    background-color: #0157A0;
    color: #fff;
}

.accordion::after {
    content: '+';
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.qtqcont.active .accordion::after {
    content: '−';
    color: #fff;
}


.para {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    line-height: 1.5;
    color: #555;
    background: transparent;
}

.qtqcont.active .para {
    max-height: 200px;
    padding-bottom: 15px;
    color: #fff;
}

.box {
    padding-top: 50px;
}

.ctabox {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 25px 40px;
    position: relative;
}

.ctabox h2 {
    color: #000;
    max-width: 431px;
}

.subscribe {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.subscribe input {
    flex: 1;
    padding: 10px 8px;
    border: none;
    border-bottom: 1px solid #000;
    padding-top: 41px;
}

.subscribe button {
    padding: 10px 49px;
    background-color: #0157A0;
    border: none;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 40px;
    color: #fff;
}

.subscribe button:hover {
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
}

.ctaimg {
    position: absolute;
    top: -114px;
    right: 0px;
}

.ctaimg img {
    width: 68%;
}

.cta {
    margin-top: 80px;
    margin-bottom: 80px;
}

.inputtag {
    padding-top: 20px;
}

.footu {
    background-color: #000;
    padding-top: 70px;
    padding-bottom: 70px;
}

.afoo {
    text-decoration: none;
    color: #8F8F8F;
    margin-bottom: 10px;
    display: block
}
.atag{
    color: #fff;
}
.afoo:hover {
    color: #0157A0;
}

.ulfoo {
    list-style: none;
    padding-top: 13px;
}

ul {
    padding-left: 0rem !important;
}

.company {
    color: #fff;
}
.company:hover{
    color: #0157A0;
}


.copy {
    color: #8F8F8F;
    padding-top: 10px;
    font-size: 14px;
}

.logo2 {
    padding-top: 30px;
}

.cotus {
    display: flex;
}

.cotuspara {
    color: #fff;

}

.cotusbuttonn {
    border: none;
    padding: 12px 38px;
    border-radius: 30px;
    background-color: #0157A0;
    color: #fff;
}

.cotusbuttonn:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}

.cotus {
    gap: 24px;
    padding-top: 60px;
}

.line {
    border-bottom: 1px solid #555;
    padding-top: 30px;
}

.end1 {
    padding-top: 30px;
    color: #8F8F8F;
    max-width: 260px;
    font-size: 14px;
}

.end1:hover {
    color: #0157A0;
}

.endfoo1 {
    display: flex;
    padding-top: 30px;
    color: #8F8F8F;
    gap: 30px;
}

.end2 {
    padding-top: 30px;
    color: #8F8F8F;
    max-width: 110px;
    font-size: 14px;
}

.end2:hover {
    color: #0157A0;
}

.end3 {
    padding-top: 30px;
    color: #8F8F8F;
    max-width: 129px;
    font-size: 14px;
}

.end3:hover {
    color: #0157A0;
}

.insta {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #0157A0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.insta:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}

.linkd {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #0157A0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.linkd:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}

.twit {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #0157A0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.twit:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}

.alllast {
    padding-top: 80px;
}

/* ABOUT */

.aboutsectio {
    padding-top: 115px;
    padding-bottom: 115px;
    background-image: url(../assets/Dust.png);
    position: relative;
    z-index: 22;
    margin-top: 190px;

}

.abthparaa {
    color: #fff;
    padding-top: 20px;
}

.herosectio {
    background-image: url(../assets/heroimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1230px;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 70px;
}

.herosectio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 9%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 9%, rgba(255, 255, 255, 0) 100%);
    z-index: 2;
}

.herosectio::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: linear-gradient(115deg, rgba(0, 0, 0, 1) 9%, rgba(255, 255, 255, 0) 100%);
    z-index: 2;
}

.aboutt {
    color: #fff;
}

.Warehouse {
    color: #fff;
}

.numm {
    color: #fff;
    font-size: 52px;
}

.plu {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}

.mission {
    background-image: url(../assets/Dust.png);
    margin-top: 80px;
    margin-bottom: 80px;
}

.missimg {
    padding-top: 90px;
}

.missh {
    padding-top: 80px;
    text-align: center;
    padding-bottom: 30px;
}



/* service */
.servicesectio {
    position: relative;
    z-index: 22;
}


.herosecti {
    background-image: url(../assets/heroimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 930px;
    display: flex;
    position: relative;
    align-items: center;
}

.herosecti::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 9%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 9%, rgba(255, 255, 255, 0) 100%);
    z-index: 2;
}

.herosecti::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: linear-gradient(115deg, rgba(0, 0, 0, 1) 9%, rgba(255, 255, 255, 0) 100%);
    z-index: 2;
}


.serm {
    color: #fff;
    text-align: center;
}

.frigh {
    color: #fff;
    padding-top: 25px;
    text-align: center;
}

.innohed {
    max-width: 401px;
}

.innovations {
    margin-top: 80px;
    margin-bottom: 80px;
}

.innovaimg img {
    border-radius: 30px;
    margin-top: 80px;
}

.innovapara {
    max-width: 458px;
}

.border {
    border-bottom: 1px solid #c1c1c1;
    margin-top: 100px;
    margin-left: 36px;
}

.ontime {
    padding-top: 50px;
    padding-bottom: 30px;
}

.ontpara {
    max-width: 260px;
}

.ontpara1 {
    max-width: 221px;
    padding-top: 30px;
}

.borde {
    border-bottom: 1px solid #c1c1c1;
    margin-top: 30px;
    margin-left: 36px;
}

.ontpara3 {
    padding-top: 10px;
}

.ontime4 {
    padding-top: 60px;
}

.ontpara5 {
    padding-top: 62px;
}

.ontpara4 {
    padding-top: 29px;
}

.innovapara {
    margin-top: 10px;
    padding-left: 36px;
}

.fright {
    color: #fff;
}

.inpa1 {
    padding-left: 40px;
}

/* contact us */
.herosect {
    background-image: url(../assets/heroimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1170px;
    display: flex;
    position: relative;
    align-items: center;
}

.herosect::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 9%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 9%, rgba(255, 255, 255, 0) 100%);
    z-index: 2;
}

.herosect::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: linear-gradient(115deg, rgba(0, 0, 0, 1) 9%, rgba(255, 255, 255, 0) 100%);
    z-index: 2;
}

.cusbox {
    background-color: #Ffff;
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.form-section {
    background: #ffff;
    padding: 20px;
    max-width: 400px;
}

.radio-group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.radio-group input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 24px;
    height: 24px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.radio-group input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #0157A0;
    border-radius: 50%;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}


.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group label {
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input,
.input-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    outline: none;
    font-size: 14px;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #000;
}

.input-group>*:not(:first-child) {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    margin-left: 0 !important;
}


textarea {
    min-height: 100px;
    resize: vertical;
}

.send-btn {
    color: #fff;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    background-color: #0157A0;
    transition: all 0.2s;
}

.send-btn:hover {
    background: transparent;
    color: #000;
    font-weight: 600;
    border: 1px solid #000;
}

.cona {
    display: flex;
    justify-content: center;
}

.cona img {
    max-width: 250px;
    border-radius: 20px;
    padding-top: 46px;
}

.contactus {
    position: relative;
    z-index: 22;
}

.contmhd {
    color: #fff;
    text-align: center;
    padding-bottom: 90px;
}

.withpara {
    color: #696969;
}

.withushed {
    text-align: center;
}

.withus {
    margin-top: 80px;
    margin-bottom: 80px;
}

.withbox {
    background-color: #fff;
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    padding: 12px;
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: 80px;
    transition: all 0.2s;
}

.boxcont {
    padding-top: 150px;
}

.com {
    text-decoration: underline;
}

.speakeasy {
    color: #696969;
}

.ikknn {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #000;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
}

.withbox:hover .ikknn {
    background-color: #fff;
}

.withbox:hover svg path {
    fill: #0157A0;
}

.withbox:hover {
    background-color: #0157A0;
}

.boxcont:hover h5 {
    color: #fff;
}

.boxcont:hover p {
    color: #fff;
}

.maps {
    color: #000;
}

.active {
    background-color: #0157A0;
    border-radius: 30px;
}

.cona iframe {
    border-radius: 10px
}